#game {
  width: 300px;
}
#game #grid {
  height: 300px;
  width: 100%;
}
#game table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
#game td {
  padding: 0px;
  margin: 0px;
  border: none;
  width: 25px;
}
#game #color-select {
  height: 30px;
  width: 100%;
  margin-top: 10px;
}
#game #counter {
  width: 100%;
  text-align: right;
}
#game .color-0 {
  background-color: #edd400;
}
#game .color-1 {
  background-color: #73d216;
}
#game .color-2 {
  background-color: #3465a4;
}
#game .color-3 {
  background-color: #cc0000;
}
#game .color-4 {
  background-color: #5c3566;
}
#game .color-5 {
  background-color: #e9b96e;
}
