.active-color-game table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
.active-color-game table td {
  padding: 0px;
  margin: 0px;
  border: none;
  width: 25px;
}
.active-color-game .color-select {
  height: 30px;
  margin-top: 10px;
}
.active-color-game [data-color='0'] {
  background-color: #edd400;
}
.active-color-game [data-color='1'] {
  background-color: #73d216;
}
.active-color-game [data-color='2'] {
  background-color: #3465a4;
}
.active-color-game [data-color='3'] {
  background-color: #cc0000;
}
.active-color-game [data-color='4'] {
  background-color: #5c3566;
}
.active-color-game [data-color='5'] {
  background-color: #e9b96e;
}
